@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model UsersModel

@{
    ViewData["Connexion"] = "Connexion";
}
<h1>@ViewData["Title"]</h1>

<div class="height-body d-flex justify-content-center flex-column container">
    <div class="row text-center justify-content-center">
        <div class="col-7 col-xl-6">
            <p>@ViewData["message"]</p>
            <h2 class="color-green text-uppercase fw-bold">Connexion</h2>
            <form asp-controller="Home" asp-action="ConnexionPost" method="post" class="mt-4">
                <div class="mb-3">
                    <label for="email" class="form-label">Adresse mail</label>
                    <input type="email" asp-for="Email" class="form-control" id="email" name="Email">
                    <span class="text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="text" asp-for="Nom" class="form-control" name="Nom" id="name">
                    <span class="text-danger" asp-validation-for="Nom"></span>
                </div>
                <div class="d-flex justify-content-between" id="password-forget">
                    <button type="submit" class="box-shadow-submit btn bg-color-white px-4 py-2 w-auto">Connexion</button>
                    <a href="" class="color-green w-auto">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
</div>
